<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/moover.css">
    <link rel="stylesheet" href="/styles/toast.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery-2.2.3.min.js"></script>
    <script src="/js/dependencies/angular.js"></script>
    <script src="/js/dependencies/angular/angular-animate.js"></script>
    <script src="/js/dependencies/angular/angular-cookies.js"></script>
    <script src="/js/dependencies/angular/angular-environment.js"></script>
    <script src="/js/dependencies/angular/angular-messages.js"></script>
    <script src="/js/dependencies/angular/angular-mocks.js"></script>
    <script src="/js/dependencies/angular/angular-resource.js"></script>
    <script src="/js/dependencies/angular/angular-sanitize.js"></script>
    <script src="/js/dependencies/angular/angular-toastr.js"></script>
    <script src="/js/dependencies/angular/angular-toastr.tpls.js"></script>
    <script src="/js/dependencies/angular/angular-touch.js"></script>
    <script src="/js/dependencies/angular/angular-ui-router.js"></script>
    <script src="/js/dependencies/angular/ui-bootstrap-tpls-1.3.2.js"></script>
    <script src="/js/dependencies/bootstrap.js"></script>
    <script src="/js/dependencies/lodash.min.js"></script>
    <script src="/js/dependencies/moment-with-locales.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/filters/momentdate.js"></script>
    <script src="/js/filters/mooverAddress.js"></script>
    <script src="/js/filters/mooverLoadingUnloading.js"></script>
    <script src="/js/controllers/createorder.js"></script>
    <script src="/js/controllers/createorder1.js"></script>
    <script src="/js/controllers/createorder2.js"></script>
    <script src="/js/controllers/createorder3.js"></script>
    <script src="/js/controllers/empty.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/loginModal.js"></script>
    <script src="/js/controllers/loginorsignon.js"></script>
    <script src="/js/controllers/logout.js"></script>
    <script src="/js/controllers/mainmenu.js"></script>
    <script src="/js/controllers/modalDeleteConfirm.js"></script>
    <script src="/js/controllers/modalInput.js"></script>
    <script src="/js/controllers/offer.js"></script>
    <script src="/js/controllers/offers.js"></script>
    <script src="/js/controllers/offersForDelivery.js"></script>
    <script src="/js/controllers/offersForDeliveryContact.js"></script>
    <script src="/js/controllers/orderstatus.js"></script>
    <script src="/js/controllers/outer.js"></script>
    <script src="/js/controllers/plannedshippments.js"></script>
    <script src="/js/controllers/profile.js"></script>
    <script src="/js/controllers/shippmenthistory.js"></script>
    <script src="/js/controllers/shippmenthistoryForShipper.js"></script>
    <script src="/js/controllers/signon.js"></script>
    <script src="/js/directives/clearOnClick.js"></script>
    <script src="/js/directives/countdowntimer.js"></script>
    <script src="/js/directives/disallowkeyboard.js"></script>
    <script src="/js/directives/numbersonly.js"></script>
    <script src="/js/directives/toggleClass.js"></script>
    <script src="/js/services/loginmodal.js"></script>
    <script src="/js/services/passDataBetweenPages.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/admin/bases.js"></script>
    <script src="/admin/deliveries.js"></script>
    <script src="/admin/delivery.js"></script>
    <script src="/admin/offers.js"></script>
    <script src="/admin/packages.js"></script>
    <script src="/admin/users.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
