<div class="jumbotron statuspage">
  <div class="row">
    <h2>רשימת סוגי משטחים</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in items">
    <div class="row mainrowstatuspage">
      <div class="row">
        <div class="col col-xs-2"><a ng-click="delete(value.id)">מחק</a></div>
        <div class="col col-xs-2 address">{{value.width}}</div>
        <div class="col col-xs-2 address">{{value.length}}</div>
        <div class="col col-xs-2 address">{{value.description}}</div>
        <div class="col col-xs-2">{{value.id}}</div>
      </div>
    </div>
  </div>
</div>
