<div class="jumbotron statuspage">
  <div class="row">
    <h2>רשימת הובלות</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in items">
    <div class="row mainrowstatuspage">
      <div class="row">
        <div class="col col-xs-2"><a ng-click="delete(value.id)">מחק</a></div>
        <div class="col col-xs-2 datetime">{{value.todatetime|momentdate}}</div>
        <div class="col col-xs-2 address">{{value.toaddresscity}}, {{value.toaddressstreet}} {{value.toaddresshousenumber}}</div>
        <div class="col col-xs-2 datetime">{{value.fromdatetime|momentdate}}</div>
        <div class="col col-xs-2 address">{{value.fromaddresscity}}, {{value.fromaddressstreet}} {{value.fromaddresshousenumber}}</div>
        <div class="col col-xs-2"><a href="/#/admin/delivery/{{value.id}}">{{value.id}}</a></div>
      </div>
    </div>
  </div>
</div>
