<div class="jumbotron statuspage">
  <div class="row">
    <h2>הובלה {{value.id}}</h2>
  </div>
  <div class="address">{{value.fromaddresscity}}, {{value.fromaddressstreet}} {{value.fromaddresshousenumber}}</div>
  <div class="datetime">{{value.fromdatetime|momentdate}}</div>
  <div class="address">{{value.shippmentloading}}</div>
  <br><br>
  <div class="address">{{value.toaddresscity}}, {{value.toaddressstreet}} {{value.toaddresshousenumber}}</div>
  <div class="datetime">{{value.todatetime|momentdate}}</div>
  <div class="address">{{value.shippmentunloading}}</div>


</div>
