<div class="jumbotron statuspage">
  <div class="row">
    <h2>רשימת הצעות</h2>
  </div>

  <div class="row mainrowstatuspage">
    <div class="col col-xs-1"></div>
    <div class="col col-xs-1 datetime">סטטוס</div>
    <div class="col col-xs-2 address">סכום</div>
    <div class="col col-xs-3 datetime">מוביל</div>
    <div class="col col-xs-3 address">הובלה</div>
    <div class="col col-xs-2">מס' הצעה</div>
  </div>

  <div class="listOfMyOrders" ng-repeat="(key, value) in items">
    <div class="row mainrowstatuspage">
      <div class="col col-xs-1"><a ng-click="delete(value.id)">מחק</a></div>
      <div class="col col-xs-1 address">{{value.status}}</div>
      <div class="col col-xs-2 datetime">{{value.sum}}</div>
      <div class="col col-xs-3 datetime">{{value.shipper.id}} {{value.shipper.email}}</div>
      <div class="col col-xs-3 address">{{value.delivery.id}} {{value.fromaddresscity}}, {{value.fromaddressstreet}} {{value.fromaddresshousenumber}}-{{value.toaddresscity}}, {{value.toaddressstreet}} {{value.toaddresshousenumber}}</div>
      <div class="col col-xs-2">{{value.id}}</div>
    </div>
  </div>
</div>
