<div class="jumbotron statuspage">
  <div class="row">
    <h2>רשימת חבילות</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in items">
    <div class="row mainrowstatuspage">
      <div class="row">
        <div class="col col-xs-1"><a ng-click="delete(value.id)">מחק</a></div>
        <div class="col col-xs-2 datetime">{{value.height}} ס"מ</div>
        <div class="col col-xs-2 address">{{value.weight}} ק"ג</div>
        <div class="col col-xs-2 datetime">כמות: {{value.amount}}</div>
        <div class="col col-xs-2 address">{{value.base.description}}</div>
        <div class="col col-xs-2 address"><a href="/#/admin/delivery/{{value.delivery.id}}">{{value.delivery.id}}</a></div>
        <div class="col col-xs-1">{{value.id}}</div>
      </div>
    </div>
  </div>
</div>
