<div class="jumbotron statuspage">
  <div class="row">
    <h2>רשימת משתמשים</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in items">
    <div class="row mainrowstatuspage">
      <div class="row">
        <div class="col col-xs-2"><a ng-click="delete(value.id)">מחק</a></div>
        <div class="col col-xs-4 address">{{value.email}} {{value.phone}}</div>
        <div class="col col-xs-2 address">{{value.companyname}}</div>
        <div class="col col-xs-2 address">{{value.firstname}} {{value.lastname}}</div>
        <div class="col col-xs-1 address">{{value.usertype}}</div>
        <div class="col col-xs-1">{{value.id}}{{value.admin?" *":""}}</div>
      </div>
    </div>
  </div>
</div>
