<section class="section container-fluid">
  <!-- <h1 class="page-header">Moover</h1> -->
  <p nXg-show="usertype=='shipper'"><a class="btn btn-lg btn-default btn-block" ng-href="#/offers">
      <img src="/images/client.png" alt="" height="40%" width="40%"/>
      <br>הצעות להובלות
    </a>
  </p>
  <p nXg-show="usertype=='shipper'"><a class="btn btn-lg btn-default btn-block" ng-href="#/plannedshippments">
      <img src="/images/shipper.png" alt="" height="40%" width="40%"/>
      <br>הובלות מתוכננות
    </a>
  </p>
  <p nXg-show="usertype=='shipper'"><a class="btn btn-lg btn-default btn-block" ng-href="#/shippmenthistory">
      <img src="/images/shipper.png" alt="" height="40%" width="40%"/>
      <br>היסטוריית הובלות
    </a>
  </p>

  <p ng-show="usertype=='client'"><a class="btn btn-lg btn-default btn-block" ng-href="#/createorder1">
      <img src="/images/client.png" alt="" height="40%" width="40%"/>
      <br>הזמן הובלה
    </a>
  </p>
  <p ng-show="usertype=='client'"><a class="btn btn-lg btn-default btn-block" ng-href="#/orderstatus">
      <img src="/images/shipper.png" alt="" height="40%" width="40%"/>
      <br>סטטוס הזמנות
    </a>
  </p>
  <p ng-show="usertype=='client'"><a class="btn btn-lg btn-default btn-block" ng-href="#/shippmenthistory">
      <img src="/images/shipper.png" alt="" height="40%" width="40%"/>
      <br>היסטוריית הזמנות
    </a>
  </p>

</section>
