<h1 class="app-name">Moover</h1>

<div class="scrollable">
  <h1 class="scrollable-header app-name">Moover</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/">תפריט ראשי <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/offers">הצעות להובלות <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/plannedshippments">הובלות מתוכננות <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/shippmenthistory">היסטוריית הובלות <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/admin">מנהל מערכת <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/logout">יציאה <i class="fa fa-chevron-right pull-right"></i></a>
    </div>
  </div>
</div>