<!DOCTYPE html>
<html>
  <head>
    <title>Moover</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <!--STYLES END-->
  </head>
  <body ng-app="mooverClientApp" ng-controller="OuterCtrl">
    <div class="topmostheaderforPC">
      <a href="/#/empty"><img src="/images/logo.jpg" alt="" /></a>
      <span class="callnow">
        שלום {{currentUser.firstname}} {{currentUser.lastname}} {{currentUser.email}}<br>
        התקשר עכשיו 1800-9876543
      </span>
    </div>
    <div class="container-fluid">
      <div class="container-fluid-innermooverdarker">
        <nav class="navbar navbar-default navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/empty"> Moover</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a ng-show="shipperListOfPotentialDeliveries" href="#/offers" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                  סנן
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-click="filterByArea()" ng-href="#/offers">סנן לפי אזור</a></li>
                  <li><a ng-click="filterByDate()" ng-href="#/offers">סנן לפי תאריך</a></li>
                  <li><a ng-click="filterByPackages()" ng-href="#/offers">סנן לפי מספר חבילות</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a ng-show="showFilterHistory" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                  סנן
                </a>
                <ul class="dropdown-menu">
                  <li><a ng-click="filterShippmentHistory('others')" ng-click="collapsemenu()">רק הצעות</a></li>
                  <li><a ng-click="filterShippmentHistory('done')"   ng-click="collapsemenu()">רק הובלות</a></li>
                  <li><a ng-click="filterShippmentHistory('')"       ng-click="collapsemenu()">הכל</a></li>
                </ul>
              </li>
              <li class="dropdown" ng-show="adminMenu">
                <a class="dropdown-toggle" data-toggle="dropdown">מנהל מערכת</a>
                <ul class="dropdown-menu">
                  <li><a href="#/admin/users" ng-click="collapsemenu()">משתמשים</a></li>
                  <li><a href="#/admin/bases" ng-click="collapsemenu()">סוגי משטחים</a></li>
                  <li><a href="#/admin/deliveries" ng-click="collapsemenu()">הובלות</a></li>
                  <li><a href="#/admin/packages" ng-click="collapsemenu()">חבילות</a></li>
                  <li><a href="#/admin/offers" ng-click="collapsemenu()">הצעות</a></li>
                </ul>
              </li>
              <li><a ng-show="currentUser">{{currentUser.email}} {{currentUser.firstname}} {{currentUser.lastname}}</a></li>
              <li><a ng-href="#/about" ng-click="collapsemenu()">אודות</a></li>
              <li><a ng-href="#/contact" ng-click="collapsemenu()">צור קשר</a></li>
              <li><a ng-href="#/faq" ng-click="collapsemenu()">שאלות נפוצות</a></li>
              <li><a ng-href="#/mainmenu" ng-click="collapsemenu()">הצטרפות וכניסה למערכת</a></li>
              <li><a ng-href="#/logout" ng-click="collapsemenu()">יציאה</a></li>
            </ul>
          </div>
        </nav>
        <div class="container">
        <div ui-view=""></div>
        </div>

      </div>
    </div>

    <script type="text/ng-template" id="modalDeleteConfirm.html">
      <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
      </div>
      <div class="modal-body">
        האם אתה בטוח שברצונך למחוק {{recordtype}} ?
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">מחק!</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">בטל</button>
      </div>
    </script>

    <script type="text/ng-template" id="modalInput.html">
      <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
      </div>
      <div class="modal-body">
        {{body}}
        <input type="number" name="name" ng-model="modalInputData">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">שלח</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">בטל</button>
      </div>
    </script>

    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>
