/* http://lea.verou.me/css3patterns/#starry-night */
body{
  direction: rtl;
  background-color:#FFF;
  color: yellow; /* #EEE; */
  /*background: url('/images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}
.container{
  direction: rtl;
  background-color: transparent;
  color: yellow; /* #EEE; */
}
.topmostheaderforPC {
    direction: ltr;
}
.topmostheaderforPC img{
  width: 38%;
}
/*
BUGGY!
.navbar-nav>li {
    float: right;
}
.navbar-header {
    float: right;
}
*/

.callnow{
  direction: rtl;
  float: right;
  margin: 55px;
  margin-top: 55px;
  color: #333;
  font-size: 1.2em;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  /*min-height: calc(100vh - 52px - 179px);*/
  min-height: calc(100vh - 179px);
  background: url('/images/background.jpg') no-repeat center 200px fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container-fluid-innermooverdarker{
  padding-right: 0;
  padding-left: 0;
  /*min-height: calc(100vh - 52px - 179px);*/
  min-height: calc(100vh - 148px);
  background-color: rgba(0,0,0,.7);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sloganB {
  font-weight: bold;
}
.slogan {
  margin-left: 75%;
  direction: ltr;
  font-size: 4em;
  transform: scale(1,1.6);
  -webkit-transform:scale(1, 1.6);
  -moz-transform:scale(1, 1.6);
  -ms-transform:scale(1, 1.6);
  -o-transform:scale(1, 1.6);
  color: white;
  line-height: 1;
  margin-top: 8%;
}
@media (max-width: 800px) {
  .topmostheaderforPC{
    display: none;
  }
  .container-fluid {
    min-height: calc(100vh - 52px);
    background: url('/images/background.jpg') no-repeat center center fixed;
  }
  .container-fluid-innermooverdarker {
    min-height: calc(100vh - 52px);
  }
  .slogan {
    margin-left: 70%;
    margin-top: 20%;
    font-size: 2em;
  }
}
.modal-content, .uib-datepicker{
  color: black;
}
.jumbotron.ng-scope {
  background-color: rgba(150,150,150,.85);
}
.center-block, .jumbotron {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.datetimepopup{
  margin-top: 34px;
}
.datetimepopup, .timepicker{
  direction: ltr;
}
.datetimepopup input{
  text-align: right;
}
table.uib-timepicker{
    margin-left: auto;
    margin-right: auto;
}
.packagesTable .col-xs-2, .packagesTable .col-xs-1, .packagesTable .col-xs-5 {
    padding-left: 2px;
    padding-right: 2px;
}
.createorder2 .row .col{
    padding-left: 2px;
    padding-right: 2px;
}
.statuspage .address {
    font-size: 1.3em;
    text-align: right;
    font-weight: bold;
}
.statuspage .datetime {
    font-size: 1.2em;
    text-align: right;
    font-style: italic;
}
.mainrowstatuspage{
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 2px solid #FEF200;
}
.mainrowstatuspageNoBorderBottom{
  border-bottom: none;
}
.mainrowstatuspage .col{
  padding-left: 4px;
  padding-right: 4px;
}
.spaceAfter{
  margin-bottom: 15px;
}
span.offerlabel {
    font-size: .9em;
    font-style: normal;
    font-weight: normal;
}
.mooverLarge{
  font-size: 50px;
  margin-top: 15px;
}
.regularImage{
  width: 100px;
  height: 100px;
}
.largeImage{
  width: 330px;
  height: 330px;
  position: absolute;
  top: -70px;
  left: 0;
  z-index: 100;
}
.mooverMarginBottom{
  margin-bottom: 10px;
}
.atob{
  width: 45px;
}
.centerHeadersInRow h2, .centerHeadersInRow h4{
  text-align: center;
}
.ShipperWon {
  background-color: lightblue;
}
.toast-top-center {
  top: 30%;
  font-size: 2.4em;
  line-height: initial;
}
.countdowntimer{
  color: red;
}
.nextbtn {
  color: #1abd09;
  font-size: 8em;
  cursor: pointer;
  text-align: center;
}
.prevbtn {
  color: #7E7200;
  font-size: 8em;
  cursor: pointer;
  text-align: center;
  margin-right: 10%;
}
.form-control, .btnaddpackage, .btnaddpackage:focus, .btnaddpackage:hover, .btnaddpackage:active {
  background: #FEF200;
  border-radius: 0;
  border: none;
}
.btnaddpackage{
  font-size: 200%;
}
.listOfMyOrders .btn, .listOfMyOrders .btn:focus, .listOfMyOrders .btn:hover, .listOfMyOrders .btn:active {
  background: #FEF200;
  border-radius: 0;
  border: none;
  color: black;
}
.offersum {
  font-size: 2em;
  font-style: normal;
}
.uploadimagepackage{
  margin-right: 8px;
  width: 44px;
}
.mainmenubtn{
  background: transparent;
  border: none;
  color: white;
  text-shadow: none;
  box-shadow: none;
}
.mvrHR{
  border-top: 2px solid #FEF200;
}
.mainmenubtn img{
  width: 30%;
  height: 30%;
}
.jumboXtron h2{
  text-align: center;
}
.jumbXXotron {
    padding-left: 27px;
    padding-right: 4px;
}
.selectManualForkliftRampParent {
  padding-left: 0;
  padding-right: 0;
}
.selectManualForkliftRamp{
  padding-left: 0;
}
.selectManualForkliftRamp img {
  height: 54px;
}
.selectManualForkliftRamp label{
  opacity: .4;
  background: transparent;
  color: #FEF200;
  text-shadow: none;
  box-shadow: none;
}
.selectManualForkliftRamp label.active, .selectManualForkliftRamp label:active{
  opacity: 1;
  background: transparent;
  color: #FEF200;
  text-shadow: none;
  box-shadow: none;
}
.selectManualForkliftRamp label:hover{
  opacity: 1;
  color: #FEF200;
  background: transparent;
}
/*.selectManualForkliftRamp.active label{
    background: #FEF200;
}*/
.navbar-inverse {
  background-color: #FEF200;
  border-color: #FEF200;
}
.navbar-inverse {
  background-image: none;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgba(0,0,0,.9);
}
.alert-danger {
    color: #FFF;
    background-image: linear-gradient(to bottom,#FCC 0,#FF0000 100%);
}
.alert-success {
    color: #FFF;
    background-image: linear-gradient(to bottom,#9B9 0,#00FF00 100%);
}
.phonelink, .phonelink:hover, .phonelink:focus {
  color: #AAA;
  font-size: 1.6em;
}
.faqcontent {
    text-align: right;
    font-size: 1.2em;
}
/* http://www.labnol.org/internet/embed-responsive-google-maps/28333/ */
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover{
    color: #000;
    background-color: transparent;
}
.mainmenubtn img {
    margin-bottom: 10px;
}
