<div class="jumbotron">
  <h2>אודות החברה</h2>
  בחברת מוברז אנחנו מחוייבים לשתי קבוצות של אנשים, מובילים ולקוחות.
  <br>
  אנו מתחייבים לספק את השרות הטוב ביותר למובילים וגם ללקוחות שצריכים הובלה.
</div>