<div class="jumbotron">
  <h2>צור קשר</h2>
  כתובת החברה: רחוב שידלובסקי 1 <br>א.ת. יבנה <br>
  טלפון: 08-9327778 <br>
  דוא"ל: moover@gmail.com <br><br>
  <div class="google-maps">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3387.552355306035!2d34.731136316409!3d31.89158653590549!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502b08132b1c091%3A0xa3ed12fca97111ec!2sShidlovski+St%2C+Yavne%2C+Israel!5e0!3m2!1sen!2sus!4v1466061658298"
    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>