<!-- https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
<div class="jumbXXotron">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>{{signupForm.errorMsg}}</code>
</div>
<div>
  <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signup" name="signup" >
  <div ng-show="step1">
    <h2 class="form-signin-heading">פרטי הזמנה 1/3</h2>
    <div class="row">
      <!-- fromaddress -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.fromaddress.$invalid && signup.fromaddress.$dirty}">
        <label>כתובת איסוף</label>
      </div>
      <div class="form-group col-md-3 col-md-push-9">
        <input type="text" class="form-control" name="fromaddresscity" placeholder="עיר"
        ng-model="signupForm.fromaddresscity" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="form-group col-md-3 col-md-push-3">
        <input type="text" class="form-control" name="fromaddressstreet" placeholder="רחוב"
        ng-model="signupForm.fromaddressstreet" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="form-group col-md-2 col-md-pull-2">
        <input type="text" class="form-control" name="fromaddresshousenumber" placeholder="מספר בית"
        ng-model="signupForm.fromaddresshousenumber" ng-required="step1">
        <!-- numbers-only -->
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="form-group col-md-2 col-md-pull-6">
        <input type="text" class="form-control" name="fromaddresscompany" placeholder="חברה"
        ng-model="signupForm.fromaddresscompany" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="form-group col-md-2 col-md-pull-10">
        <select class="form-control" name="fromaddressarea" ng-model="signupForm.fromaddressarea">
          <option ng-repeat="option in arealist" value="{{option.id}}">{{option.description}}</option>
        </select>
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- fromdatetime -->
      <div class="control-group form-group col-md-12">
        <label>מועד איסוף - תאריך ושעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.fromXaddress.$invalid && signup.fromXaddress.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-click="open1()" ng-focus="open1()" disallow-keyboard placeholder="תאריך איסוף"
          ng-model="signupForm.fromdatetime" is-open="popup1.opened" datepicker-options="dateOptionsFrom"
          ng-required="step1" close-text="Close" alt-input-formats="altInputFormats" ng-change="fromDatePickerChange()">
        <span class="help-block has-error" ng-if="signup.fromXaddress.$dirty">
          <span ng-show="signup.fromXaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <div class="control-group form-group col-md-3 $scope.fromtime timepicker"
        ng-class="{'has-error':signup.fromXaddress.$invalid && signup.fromXaddress.$dirty}">
        <uib-timepicker ng-model="fromtime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.fromXaddress.$dirty">
          <span ng-show="signup.fromXaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- toaddress -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.toaddress.$invalid && signup.toaddress.$dirty}">
        <label>כתובת פריקה</label>
      </div>
      <div class="control-group form-group col-md-3 col-md-push-9">
        <input type="text" class="form-control" name="toaddresscity" placeholder="עיר"
        ng-model="signupForm.toaddresscity" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-3 col-md-push-3">
        <input type="text" class="form-control" name="toaddressstreet" placeholder="רחוב"
        ng-model="signupForm.toaddressstreet" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-2 col-md-pull-2">
        <input type="text" class="form-control" name="toaddresshousenumber" placeholder="מספר בית"
        ng-model="signupForm.toaddresshousenumber" ng-required="step1">
        <!-- numbers-only -->
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-2 col-md-pull-6">
        <input type="text" class="form-control" name="toaddresscompany" placeholder="חברה"
        ng-model="signupForm.toaddresscompany" ng-required="step1">
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-2 col-md-pull-10">
        <select class="form-control" name="toaddressarea" ng-model="signupForm.toaddressarea">
          <option ng-repeat="option in arealist" value="{{option.id}}">{{option.description}}</option>
        </select>
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- todatetime -->
      <div class="control-group form-group col-md-12">
        <label>מועד פריקה - תאריך ושעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.todatetime.$invalid && signup.todatetime.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-focus="open2()" ng-click="open2()" disallow-keyboard placeholder="תאריך פריקה"
          ng-model="signupForm.todatetime" is-open="popup2.opened" datepicker-options="dateOptionsTo"
          ng-required="step1" close-text="Close" alt-input-formats="altInputFormats">
        <span class="help-block has-error" ng-if="signup.todatetime.$dirty">
          <span ng-show="signup.todatetime.$error.required">שדה חובה.</span>
        </span>
      </div>

      <div class="control-group form-group col-md-3 $scope.totime timepicker"
        ng-class="{'has-error':signup.fromXaddress.$invalid && signup.fromXaddress.$dirty}">
        <uib-timepicker ng-model="totime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.fromXaddress.$dirty">
          <span ng-show="signup.fromXaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

    </div>
    <br/>
    <!-- ng-disabled="signup.$invalid" -->
    <!-- <button type="button" ng-click="step1to2()" class="btn btn-primary btn-lg btn-block">
      <span>הבא</span>
    </button> -->
    <div class="nextbtn" ng-click="step1to2()">
      <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </div>
  </div><!-- end of step1 -->
  <div ng-show="step2">
    <h2 class="form-signin-heading">פרטי הזמנה 2/3</h2>
    <div class="row">
      <div class="col col-xs-1 packageimage">   תמונה  </div>
      <div class="col col-xs-2 packagequantity">כמות</div>
      <div class="col col-xs-2 pckageweight">   משקל, ק"ג</div>
      <div class="col col-xs-2 packageheight">  גובה, ס"מ</div>
      <div class="col col-xs-4 basetype">       סוג משטח  </div>
    </div>
    <div class="packagesTable" ng-repeat="value in packages track by $index">
      <div class="row">
        <div class="packageimage col col-xs-1">
          <!-- <input type="file" name="packageimagefile"> -->
          <label class="bXtn bXtn-default bXtn-file">
            <img class="uploadimagepackage" data-index="{{$index}}" src="/images/upload.png" alt="" height:"33px" />
            <input type="file" name="packageimagefile" style="display: none;" data-index="{{$index}}"
             onchange="angular.element(this).scope().file_changed(this)" accept="image/*" >
          </label>
        </div>
        <div class="packagequantity col col-xs-2">
          <input class="form-control" type="number" ng-model="value.amount" min="1" step="1" clear-on-clickXXX>
        </div>
        <div class="pckageweight col col-xs-2">
          <input class="form-control" type="number" ng-model="value.weight" min="0" step="0.5" clear-on-clickXXX>
        </div>
        <div class="packageheight col col-xs-2">
          <input class="form-control" type="number" ng-model="value.height" min="0" step="1" clear-on-clickXXX>
        </div>
        <div class="basetype col col-xs-4">
          <div class="form-group">
            <select class="form-control" name="repeatSelect" ng-model="value.base">
              <option ng-repeat="option in basetypes" value="{{option.id}}">
                {{option.description}} {{option.width}}x{{option.length}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-2 totalBases">
        <span>{{ getTotalBases() }}</span>
      </div>
      <div class="col-xs-2">
        <span>סה"כ משטחים</span>
      </div>
      <div class="col-xs-offset-4 col-xs-3">
        <!-- ng-disabled="signup.$invalid" -->
        <button class="btn btn-default btn-md btnaddpackage" type='button' ng-click="addPackage()">
          <span>+</span>
        </button>
        <button class="btn btn-default btn-md btnaddpackage" type='button' ng-show="packages.length>1" ng-click="deletePackage()">
          <span>-</span>
        </button>

      </div>
    </div>
    <span class="prevbtn" ng-click="step2to1()">
      <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
    </span>
    <span class="nextbtn" ng-click="step2to3()">
      <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
    </span>
  </div><!-- end of step2 -->
  <div ng-show="step3">
    <h2 class="form-signin-heading">פרטי הזמנה 3/3</h2>
    <div class="row">
      <!-- shippmentLoading -->
      <div class="control-group form-group col-md-12 selectManualForkliftRampParent"
        ng-class="{'has-error':signup.shippmentLoading.$invalid && signup.shippmentLoading.$dirty}">
        <label>אופן העמסה</label>
        <div class="selectManualForkliftRamp btn-group form-group col-md-12">
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentLoading" uib-btn-radio="'manual'"  >
            <img src="/images/manual.png" alt=""/><br>
            ידני
          </label>
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentLoading" uib-btn-radio="'ramp'"    >
            <img src="/images/ramp.png" alt=""/><br>
            רמפה
          </label>
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentLoading" uib-btn-radio="'forklift'">
            <img src="/images/forklift.png" alt=""/><br>
            מלגזה
          </label>
        </div>
        <span class="help-block has-error" ng-if="signup.shippmentLoading.$dirty">
          <span ng-show="signup.shippmentLoading.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- shippmentUnloading -->
      <div class="control-group form-group col-md-12 selectManualForkliftRampParent"
        ng-class="{'has-error':signup.shippmentUnloading.$invalid && signup.shippmentUnloading.$dirty}">
        <label>אופן פריקה</label>
        <div class="selectManualForkliftRamp btn-group form-group col-md-12">
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'manual'"  >
            <img src="/images/manual.png" alt=""/><br>
            ידני
          </label>
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'ramp'"    >
            <img src="/images/ramp.png" alt=""/><br>
            רמפה
          </label>
          <label class="btn btn-default col-md-4 btnaddpackage" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'forklift'">
            <img src="/images/forklift.png" alt=""/><br>
            מלגזה
          </label>
        </div>
        <span class="help-block has-error" ng-if="signup.shippmentUnloading.$dirty">
          <span ng-show="signup.shippmentUnloading.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- lastofferdatetime -->
      <div class="control-group form-group col-md-12">
        <label>זמן אחרון להצעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.lastofferdatetime.$invalid && signup.lastofferdatetime.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-click="open1()" ng-focus="open1()" disallow-keyboard
          ng-model="signupForm.lastofferdatetime" is-open="popup1.opened" datepicker-options="dateOptionsLastOffer"
          ng-required="step3" close-text="Close" alt-input-formats="altInputFormats">
        <span class="help-block has-error" ng-if="signup.lastofferdatetime.$dirty">
          <span ng-show="signup.lastofferdatetime.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-3 $scope.lastoffertime timepicker"
        ng-class="{'has-error':signup.lastoffertime.$invalid && signup.lastoffertime.$dirty}">
        <uib-timepicker ng-model="signupForm.lastoffertime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.lastoffertime.$dirty">
          <span ng-show="signup.lastoffertime.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- comments -->
      <div class="control-group form-group col-md-12">
        <textarea rows="5" maxlength="250" class="form-control" name="comments" placeholder="הערות"
        ng-model="signupForm.comments"></textarea>
      </div>

      <span class="prevbtn" ng-click="step3to2()">
        <span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
      </span>
      <button class="btn btn-success btn-lg btn-block" type="submit" ng-disabled="signup.$invalid || signupForm.loading">
        <span ng-show="!signupForm.loading">קבל הצעות מחיר</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading">שולח נתונים...</span>
      </button>

    </div>
  </div><!-- end of step3 -->

  </form>
</div>
</div>
