<!-- https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
<div class="jumbotron">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>{{signupForm.errorMsg}}</code>
</div>
<div>
  <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signup" name="signup" >
    <h2 class="form-signin-heading">פרטי הזמנה 1/3</h2>
    <div class="row">
      <!-- fromaddress -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.fromaddress.$invalid && signup.fromaddress.$dirty}">
        <label>כתובת איסוף</label>
        <input type="text" class="form-control" name="fromaddress" placeholder="הזן כתובת לאיסוף"
        ng-model="signupForm.fromaddress" required>
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- fromdatetime -->
      <div class="control-group form-group col-md-12">
        <label>מועד איסוף - תאריך ושעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.fromaddress.$invalid && signup.fromaddress.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-focus="open1()"
          ng-model="signupForm.fromdatetime" is-open="popup1.opened" datepicker-options="dateOptions"
          ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required>
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <div class="control-group form-group col-md-3 $scope.fromtime timepicker"
        ng-class="{'has-error':signup.fromaddress.$invalid && signup.fromaddress.$dirty}">
        <uib-timepicker ng-model="fromtime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- toaddress -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.toaddress.$invalid && signup.toaddress.$dirty}">
        <label>כתובת פריקה</label>
        <input type="text" class="form-control" name="toaddress" placeholder="הזן כתובת לפריקה"
        ng-model="signupForm.toaddress" required>
        <span class="help-block has-error" ng-if="signup.toaddress.$dirty">
          <span ng-show="signup.toaddress.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- todatetime -->
      <div class="control-group form-group col-md-12">
        <label>מועד פריקה - תאריך ושעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.todatetime.$invalid && signup.todatetime.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-focus="open2()"
          ng-model="signupForm.todatetime" is-open="popup2.opened" datepicker-options="dateOptions"
          ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required>
        <span class="help-block has-error" ng-if="signup.todatetime.$dirty">
          <span ng-show="signup.todatetime.$error.required">שדה חובה.</span>
        </span>
      </div>

      <div class="control-group form-group col-md-3 $scope.totime timepicker"
        ng-class="{'has-error':signup.fromaddress.$invalid && signup.fromaddress.$dirty}">
        <uib-timepicker ng-model="totime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.fromaddress.$dirty">
          <span ng-show="signup.fromaddress.$error.required">שדה חובה.</span>
        </span>
      </div>

    </div>
    <br/>
    <!-- Disable signup button until the form has no errors -->
    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
    <span>הבא</span>
    </button>
  </form>
  <!-- <div ng-sparkline></div> -->
</div>
</div>