<!-- https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
<div class="jumbotron">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>
  {{signupForm.errorMsg}}
  </code>
</div>
<!-- Loading state -->
<div ng-show="signupForm.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>שולח נתונים...</span>
</div>
<div ng-hide="signupForm.loading">
  <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signup" name="signup" >
    <h2 class="form-signin-heading">פרטי הזמנה 3/3</h2>
    <div class="row">
      <!-- shippmentLoading -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.shippmentLoading.$invalid && signup.shippmentLoading.$dirty}">
        <label>אופן העמסה</label>
        <div class="btn-group form-group col-md-12">
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentLoading" uib-btn-radio="'forklift'">מלגזה</label>
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentLoading" uib-btn-radio="'manual'"  >ידני</label>
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentLoading" uib-btn-radio="'ramp'"    >רמפה</label>
        </div>
        <span class="help-block has-error" ng-if="signup.shippmentLoading.$dirty">
          <span ng-show="signup.shippmentLoading.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- shippmentUnloading -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.shippmentUnloading.$invalid && signup.shippmentUnloading.$dirty}">
        <label>אופן פריקה</label>
        <div class="btn-group form-group col-md-12">
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'forklift'">מלגזה</label>
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'manual'"  >ידני</label>
          <label class="btn btn-default col-md-4" ng-model="signupForm.shippmentUnloading" uib-btn-radio="'ramp'"    >רמפה</label>
        </div>
        <span class="help-block has-error" ng-if="signup.shippmentUnloading.$dirty">
          <span ng-show="signup.shippmentUnloading.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- lastofferdatetime -->
      <div class="control-group form-group col-md-12">
        <label>זמן אחרון להצעה</label>
      </div>
      <div class="control-group form-group col-md-9 datetimepopup"
        ng-class="{'has-error':signup.lastofferdatetime.$invalid && signup.lastofferdatetime.$dirty}">
        <input type="text" class="form-control col-md-6" uib-datepicker-popup="{{datepickerformat}}"
        ng-focus="open1()"
          ng-model="signupForm.lastofferdatetime" is-open="popup1.opened" datepicker-options="dateOptions"
          ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required>
        <span class="help-block has-error" ng-if="signup.lastofferdatetime.$dirty">
          <span ng-show="signup.lastofferdatetime.$error.required">שדה חובה.</span>
        </span>
      </div>
      <div class="control-group form-group col-md-3 $scope.lastoffertime timepicker"
        ng-class="{'has-error':signup.lastoffertime.$invalid && signup.lastoffertime.$dirty}">
        <uib-timepicker ng-model="lastoffertime" hour-step="1" minute-step="15"
          show-meridian="false"></uib-timepicker>
        <span class="help-block has-error" ng-if="signup.lastoffertime.$dirty">
          <span ng-show="signup.lastoffertime.$error.required">שדה חובה.</span>
        </span>
      </div>

      <!-- comments -->
      <div class="control-group form-group col-md-12">
        <textarea rows="5" maxlength="250" class="form-control" name="comments" placeholder="הערות"
        ng-model="signupForm.comments"></textarea>
      </div>

    </div>
    <br/>
    <!-- Disable signup button until the form has no errors -->
    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
    <span ng-show="!signupForm.loading">קבל הצעות מחיר</span>
    <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
    <span ng-show="signupForm.loading">שולח נתונים...</span>
    </button>
  </form>
  <!-- <div ng-sparkline></div> -->
</div>
</div>