<!-- https://github.com/dalelotts/angular-bootstrap-datetimepicker -->
<div class="jumbotron createorder2">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>
  {{signupForm.errorMsg}}
  </code>
</div>
<!-- Loading state -->
<div ng-show="signupForm.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>שולח נתונים...</span>
</div>
<div ng-hide="signupForm.loading">
  <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signup" name="signup" >
    <h2 class="form-signin-heading">פרטי הזמנה 2/3</h2>
    <div class="row">
      <div class="col col-xs-1 packageimage">   i      </div>
      <div class="col col-xs-2 packagequantity">כמות</div>
      <div class="col col-xs-2 pckageweight">   משקל, ק"ג</div>
      <div class="col col-xs-2 packageheight">  גובה, ס"מ</div>
      <div class="col col-xs-5 basetype">       סוג משטח  </div>
    </div>
    <div class="row">
      <div class="packagesTable" ng-repeat="(key, value) in packages">
        <div class="packageimage col col-xs-1">
i
        </div>
        <div class="packagequantity col col-xs-2">
          <input class="form-control" type="number" ng-model="value.amount" min="0" step="1" clear-on-clickXXX>
        </div>
        <div class="pckageweight col col-xs-2">
          <input class="form-control" type="number" ng-model="value.weight" min="0" step="0.1" clear-on-clickXXX>
        </div>
        <div class="packageheight col col-xs-2">
          <input class="form-control" type="number" ng-model="value.height" min="0" step="1" clear-on-clickXXX>
        </div>
        <div class="basetype col col-xs-5">
          <div class="form-group">
            <select class="form-control" name="repeatSelect" ng-model="value.base">
              <option ng-repeat="option in basetypes" value="{{option.id}}">
                {{option.description}} {{option.width}}x{{option.length}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-xs-offset-1 col-xs-2 totalBases">
        <span>{{ getTotalBases() }}</span>
      </div>
      <div class="col-xs-2">
        <span>סה"כ משטחים</span>
      </div>
      <div class="col-xs-offset-4 col-xs-3">
        <button class="btn btn-default btn-md" type='button' ng-click="addPackage()" ng-disabled="signup.$invalid">
          <span>+</span>
        </button>
      </div>
    </div>
    <br>
    <!-- Disable signup button until the form has no errors -->
    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
      <span ng-show="!signupForm.loading">הבא</span>
      <span ng-show="signupForm.loading" class="overlord-loading-spinner fa fa-spinner"></span>
      <span ng-show="signupForm.loading">מכין חשבון חדש...</span>
    </button>
  </form>
  <!-- <div ng-sparkline></div> -->
</div>
</div>