<div class="jumbotron">
  <h2>שאלות נפוצות</h2>
  <div class="faqcontent">
    <h4>שאלות של מובילים</h4>
    <ol>
      <li>האם מתחייבים לתשלום חודשי?</li>
      <li>נרשמתי! מתי אוכל להתחיל לעבוד עם המערכת?</li>
      <li>זכיתי בהובלה, איך משנים זמן הגעה?</li>
    </ol>
    <h4>שאלות של לקוחות</h4>
    <ol>
      <li>אם הזמנתי הובלה האם אני מחוייב להשתמש בשרותים שלכם?</li>
      <li>כמה זמן צריך לחכות עד קבלת תוצאות מהמובילים?</li>
      <li>רציתי ליצור קשר עם המוביל ולבקש ממנו שינוי, איך עושים זאת?</li>
      <li></li>
    </ol>
    <div class="moreInfo">
      בכל שאלה ניתן לפנות אלינו בטלפון או במייל לפי הפרטים בדף
      <a href="#/contact">צור קשר</a>
    </div>
  </div>
</div>
