<div class="jumbotron">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>
  {{signupForm.errorMsg}}
  </code>
</div>
<!-- Loading state -->
<div ng-show="signupForm.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>שולח נתונים...</span>
</div>
<div ng-hide="signupForm.loading">
  <form ng-submit="LoginModalCtrl.submit(_email, _password)" id="sign-up-form" class="form-signup" name="signup" >
    <h2 class="form-signin-heading">כניסה למערכת</h2>
    <div class="row">
      <!-- E M A I L -->
      <div class="control-group form-group col-md-10 col-md-offset-1"
        ng-class="{'has-error':signup.email.$invalid && signup.email.$dirty}">
        <label>דואר אלקטרוני</label>
        <input type="email" class="form-control" placeholder="user@company.com" autofocus name="email" ng-model="_email" required >
        <span class="help-block has-error" ng-if="signup.email.$dirty">
          <span ng-show="signup.email.$error.required">חובה למלא כתובת דוא"ל.</span>
          <span ng-show="signup.email.$error.email">כתובת לא חוקית.</span>
        </span>
      </div>
      <!-- P A S S W O R D -->
      <div class="control-group form-group col-md-10 col-md-offset-1"
        ng-class="{'has-error':signup.password.$invalid && signup.password.$dirty}">
        <label>סיסמה</label>
        <!-- Added the compareTo directive that compares the passowrds -->
        <input type="password" class="form-control" placeholder="לפחות 6 תווים" name="password" ng-model="_password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword" >
        <span class="help-block has-error" ng-if="signup.password.$dirty">
          <span ng-show="signup.password.$error.required">שדה חובה.</span>
          <span ng-show="signup.password.$error.minlength">מינימום 6 תווים.</span>
        </span>
      </div>
    </div>
    <br/>
    <!-- Disable signup button until the form has no errors -->
    <button class="btn btn-primary btn-lg" type="submit" ng-disabled="signup.$invalid">
      <span ng-show="!signupForm.loading">כנס למערכת</span>
      <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
      <span ng-show="signupForm.loading">מכין חשבון חדש...</span>
    </button>
    <a class="btn btn-primary btn-lg" href="/#/signon" ng-click="LoginModalCtrl.cancel()">
      <span ng-show="!signupForm.loading">משתמש חדש</span>
    </a>

  </form>
  <!-- <div ng-sparkline></div> -->
</div>
