<div class="jumbotron">
  <p>משתמש חדש</p>
  <p><a class="btn btn-lg btn-default" ng-href="#/signon">הרשם<span class="glyphicon glyphicon-ok"></span></a></p>
  <br>
  <br>
  <br>
  <br>
  <p class="lead">משתמש קיים</p>
  <p><a class="btn btn-lg btn-success" ng-href="#/mainmenu">התחבר<span class="glyphicon glyphicon-ok"></span></a></p>
</div>