<div class="jumbotron">
<!-- SIGNUP FORM -->
<!-- Error state -->
<div class="alert alert-info toggle" ng-show="signupForm.errorMsg">
  <h5>אופס!</h5>
  <p>קרתה תקלה, אנא נסה שוב מאוחר יותר.</p>
  <code>
  {{signupForm.errorMsg}}
  </code>
</div>
<!-- Loading state -->
<div ng-show="signupForm.loading">
  <span class="overlord-loading-spinner fa fa-spinner"></span>
  <span>שולח נתונים...</span>
</div>
<div ng-hide="signupForm.loading">
  <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signup" name="signup" >
    <h2 class="form-signin-heading">צור חשבון</h2>
    <div class="row">
      <!-- FIRST NAME -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.firstname.$invalid &&
        signup.firstname.$dirty}">
        <label>שם פרטי</label>
        <input type="text" class="form-control" placeholder="ישראל" name="firstname" ng-model="signupForm.firstname" required>
        <span class="help-block has-error" ng-if="signup.firstname.$dirty">
          <span ng-show="signup.firstname.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- LAST NAME -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.lastname.$invalid &&
        signup.lastname.$dirty}">
        <label>שם משפחה</label>
        <input type="text" class="form-control" placeholder="ישראלי" name="lastname" ng-model="signupForm.lastname" required>
        <span class="help-block has-error" ng-if="signup.lastname.$dirty">
          <span ng-show="signup.lastname.$error.required">שדה חובה.</span>
        </span>
      </div>
      <!-- COMPANY NAME -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.companyname.$invalid &&
        signup.companyname.$dirty}">
        <label>שם חברה (לא חובה)</label>
        <input type="text" class="form-control" placeholder="שם חברה" name="companyname" ng-model="signupForm.companyname">
      </div>
      <!-- E M A I L -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.email.$invalid &&
        signup.email.$dirty}">
        <label>דואר אלקטרוני</label>
        <input type="email" class="form-control" placeholder="user@company.com" autofocus name="email" ng-model="signupForm.email" required >
        <span class="help-block has-error" ng-if="signup.email.$dirty">
          <span ng-show="signup.email.$error.required">חובה למלא כתובת דוא"ל.</span>
          <span ng-show="signup.email.$error.email">כתובת לא חוקית.</span>
        </span>
      </div>
      <!-- P A S S W O R D -->
      <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.password.$invalid &&
        signup.password.$dirty}">
        <label>סיסמה</label>
        <!-- Added the compareTo directive that compares the passowrds -->
        <input type="password" class="form-control" placeholder="לפחות 6 תווים" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword" >
        <span class="help-block has-error" ng-if="signup.password.$dirty">
          <span ng-show="signup.password.$error.required">שדה חובה.</span>
          <span ng-show="signup.password.$error.minlength">מינימום 6 תווים.</span>
        </span>
      </div>
    </div>
    <br/>
    <!-- Disable signup button until the form has no errors -->
    <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
    <span ng-show="!signupForm.loading">צור חשבון משתמש</span>
    <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
    <span ng-show="signupForm.loading">מכין חשבון חדש...</span>
    </button>
  </form>
  <!-- <div ng-sparkline></div> -->
</div>