<!-- <div class="jumbotron">
  <h2>Moover</h2> -->

<div ng-show="usertype=='shipper'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/offers">
    <img src="/images/neworder.png" alt=""/>
    <br>הצעות להובלות
  </a>
</div>
<hr ng-show="usertype=='shipper'" class="mvrHR">
<div ng-show="usertype=='shipper'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/plannedshippments">
    <img src="/images/menu.png" alt=""/>
    <br>הובלות מתוכננות
  </a>
</div>
<hr ng-show="usertype=='shipper'" class="mvrHR">
<div ng-show="usertype=='shipper'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/shippmenthistoryForShipper">
    <img src="/images/history.png" alt=""/>
    <br>היסטוריה
  </a>
</div>

<div ng-show="usertype=='client'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/createorder">
    <img src="/images/neworder.png" alt=""/>
    <br>הזמן הובלה
  </a>
</div>
<hr ng-show="usertype=='client'" class="mvrHR">
<div ng-show="usertype=='client'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/orderstatus">
    <img src="/images/menu.png" alt=""/>
    <br>סטטוס הזמנות
  </a>
</div>
<hr ng-show="usertype=='client'" class="mvrHR">
<div ng-show="usertype=='client'" class="text-center mooverMarginBottom">
  <a class="btn btn-lg btn-default Xbtn-block mainmenubtn" ng-href="#/shippmenthistory">
    <img src="/images/history.png" alt=""/>
    <br>היסטוריה
  </a>
</div>

<!-- </div> -->
