<div class="jumboXtron statuspage" ng-click="backpage()">
  <div class="row mainrowstatuspage mainrowstatuspageNoBorderBottom">
    <div class="col col-xs-12">
      <h2>הזמנה: {{newdelivery.id}}</h2>
      <h2>התקבלו {{newdelivery.offers.length}} הצעות</h2>
      <h2>בחר הצעה הרצויה</h2>
      <button type="button" class="btn btn-default" ng-click="refreshPage()">עדכון מחיר</button>
    </div>
  </div>
  <div class="row" ng-show="someoneWon">
    <div class="col col-xs-12">
      <h2>כבר נבחר זוכה, לא ניתן לשנות</h2>
    </div>
  </div>
  <div class="row">
    <div class="col col-xs-12 datetime">
      <div class="listOfMyOrders" ng-repeat="(key, value) in newdelivery.offers">
        <button ng-disabled="someoneWon" type="button" class="btn btn-success btn-block" ng-click="chooseWinner(value.id)">
          <div class="offersum">
            {{value.sum}} ש"ח
          </div>
          <uib-rating ng-model="allUsers[value.shipper].rating"></uib-rating>
        </button>
        <br>
      </div>
    </div>
    <!-- <button type="button" name="button" class="btn btn-primary" ng-click="submitOffer(newdelivery.id)">הגש הצעה</button> -->
  </div>
  <div>
  	<button type="button" class="btn btn-default" ng-click="toggleCollapse($event)">הצג פרטי הזמנה</button>
  	<div uib-collapse="isCollapsed">

      <div class="spoiler">
        <div class="row mainrowstatuspage mainrowstatuspageNoBorderBottom">
          <div class="col col-xs-6 datetime">{{newdelivery.fromdatetime|momentdate}}</div>
          <div class="col col-xs-6 address"><span class="offerlabel">פרטי איסוף</span><br>{{newdelivery|mooverAddress:'from'}}</div>
        </div>
        <div class="row mainrowstatuspage">
          <div class="col col-xs-6 datetime"><span class="offerlabel">תיאור המטען</span><br>{{newdelivery.numofpackages}}</div>
          <div class="col col-xs-6 address"><span class="offerlabel">אופן העמסה</span><br>{{newdelivery.shippmentloading|mooverLoadingUnloading}}</div>
        </div>
        <div class="row mainrowstatuspage mainrowstatuspageNoBorderBottom">
          <div class="col col-xs-6 datetime">{{newdelivery.todatetime|momentdate}}</div>
          <div class="col col-xs-6 address"><span class="offerlabel">פרטי פריקה</span><br>{{newdelivery|mooverAddress:'to'}}</div>
        </div>
        <div class="row mainrowstatuspage">
          <div class="col col-xs-6 datetime"></div>
          <div class="col col-xs-6 address"><span class="offerlabel">אופן הפריקה</span><br>{{newdelivery.shippmentunloading|mooverLoadingUnloading}}</div>
        </div>
        <div class="row mainrowstatuspage mainrowstatuspageNoBorderBottom">
          <div class="col col-xs-12 datetime"><span class="offerlabel">הערות:</span><br>{{newdelivery.comments}}</div>
        </div>
      </div>

  	</div>
  </div>
</div>
