<div class="center-block XXjumbotron statuspage" ng-click="backpage($event)">
  <div class="row mainrowstatuspage">
    <div class="col col-xs-12">
      <h4>הזמנה: {{newdelivery.id}}</h4>
    </div>
  </div>
  <div class="row mainrowstatuspage centerHeadersInRow">
    <div class="col col-xs-7 col-offset-xs-1 datetime">
      {{shipper.companyname}} <br> {{shipper.firstname}} {{shipper.lastname}}
      <br>
      <uib-rating ng-model="shipper.rating"></uib-rating>
    </div>
    <div class="col col-xs-3 datetime">
      <h2>
        {{offer.sum}}
      </h2>
    </div>
    <div class="col col-xs-12 datetime">
      <h2>בחירה טובה!</h2>
    </div>
  </div>

  <div class="row centerHeadersInRow">
    <div class="col col-xs-12 datetime">
      <h4>צור קשר עם המוביל</h4>
      <h4>ולאחר מכן אשר את העסקה</h4>
      <h4><a class="phonelink" href="tel://{{shipper.phone}}">{{shipper.phone}}</a></h4>
    </div>
  </div>

  <div class="row">
    <div class="col col-xs-4 datetime">
      <button type="button" name="button" class="btn btn-primary btn-lg btn-block" ng-click="approveShipper()">אשר התאמה אחרי השיחה</button>
    </div>
  </div>
</div>
