<div class="jumbotron statuspage" ng-click="backpage()">
  <div class="row mainrowstatuspage">
    <div class="col col-xs-12">
      <h2>הזמנה: {{newdelivery.id}}</h2>
      <h2 ng-show="!newdelivery.tooLate"><span class="countdowntimer" countdowntimer='' targetdate='{{newdelivery.lastofferdatetime}}'></span><span class="countdowntimer"> להגשת הצעה</span></h2>
      <!-- <h2 ng-show="ImTheChosenShipper" class="ShipperWon">הלקוח אישר את ההובלה! אנא אשר התאמה מבחינתך לסיום.</h2> -->
    </div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-6 datetime">{{newdelivery.fromdatetime|momentdate}}</div>
    <div class="col col-xs-6 address"><span class="offerlabel">פרטי איסוף</span><br>{{newdelivery|mooverAddress:'from'}}</div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-6 datetime"><span class="offerlabel">תיאור המטען</span><br>{{newdelivery.numofpackages}}</div>
    <div class="col col-xs-6 address"><span class="offerlabel">אופן העמסה</span><br>{{newdelivery.shippmentloading|mooverLoadingUnloading}}</div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-6 datetime">{{newdelivery.todatetime|momentdate}}</div>
    <div class="col col-xs-6 address"><span class="offerlabel">פרטי פריקה</span><br>{{newdelivery|mooverAddress:'to'}}</div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-6 datetime"></div>
    <div class="col col-xs-6 address"><span class="offerlabel">אופן הפריקה</span><br>{{newdelivery.shippmentunloading|mooverLoadingUnloading}}</div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-12 datetime"><span class="offerlabel">הערות:</span><br>{{newdelivery.comments}}</div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-12 datetime"><span>פירוט חבילות</span></div>
  </div>
  <div class="row mainrowstatuspage">
    <div class="col col-xs-12 datetime">
      <div class="listOfMyOrders" ng-repeat="(key, value) in newdelivery.packages">
        <div class="row mainrowstatuspage">
          <div class="col col-md-2 col-xs-8">
            <img toggle-class="largeImage" Xng-show="value.image" class="regularImage"
            src='{{value.image}}' />
          </div>
          <div class="col col-md-3 col-xs-4">{{value.height}} ס"מ גובה</div>
          <div class="col col-md-2 col-xs-7">{{value.weight}} ק"ג</div>
          <div class="col col-md-3 col-xs-4">{{value.amount}} יח'</div>
          <div class="col col-md-4 col-xs-7">{{allBases[value.base].description}} {{allBases[value.base].width}}x{{allBases[value.base].length}}</div>
        </div>
      </div>
    </div>
    <div ng-show="!newdelivery.tooLate">
      <button ng-show="(newdelivery.status!='shipperselected' && newdelivery.status!=='shipperapproved') && (!ImTheChosenShipper)" type="button" name="button" class="btn btn-primary" ng-click="submitOffer(newdelivery.id, $event)">הגש הצעה</button>
      <button ng-show="(newdelivery.status!='shipperselected' && newdelivery.status!=='shipperapproved') && (ImTheChosenShipper)" type="button" name="button" class="btn btn-primary" ng-click="approveShippment()">אשר משימה!</button>
    </div>
    <div ng-show="newdelivery.tooLate">
      <h2><span class="label label-warning">הזמן להגשת הצעות חלף</span></h2>
    </div>
  </div>
</div>
