<div class="XXjumbotron statuspage">
  <div class="row">
    <h2>רשימת הובלות מתוכננות {{newdeliveries.length}}</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in newdeliveries">
    <div ng-show="value.status=='shipperselected' || value.status=='shipperapproved'" class="row mainrowstatuspage" ng-click="viewOffer(value.id)">
      <div class="col col-xs-3">
        <div class="col col-xs-12">
          הובלה: {{value.id}}
          <span ng-show="value.status=='shipperselected'" class="badge badge-notify alert-success">1</span>
        </div>
        <div class="col col-xs-12">
          <span class="glyphicon glyphicon-menu-left mooverLarge" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="row">
          <div class="col col-xs-12 address">{{value|mooverAddress:'from'}}</div>
          <div class="col col-xs-12 datetime spaceAfter">{{value.fromdatetime|momentdate}}</div>
          <div class="col col-xs-12 address">{{value|mooverAddress:'to'}}</div>
          <div class="col col-xs-12 datetime">{{value.todatetime|momentdate}}</div>
        </div>
      </div>
      <div class="col col-xs-offset-1 col-xs-2">
        <img src="/images/AtoB.svg" alt="" class="atob" />
      </div>
    </div>
  </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li ng-repeat="item in items">
        <a href="#" ng-click="$event.preventDefault(); selected.item = item;ok()">{{ item.display }}</a>
      </li>
    </ul>
    <!--Selected: <b>{{ selected.item }}</b>-->
  </div>
  <!--<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>-->
</script>
