<div class="XXXjumbotron statuspage">
  <div class="row">
    <h2>היסטוריית  הזמנות</h2>
  </div>
  <div class="listOfMyOrders" ng-repeat="(key, value) in myorders">
    <div ng-click="viewOffers(value.id)" class="row mainrowstatuspage">
      <div class="col col-xs-3">
        <div class="col col-xs-12">
          הזמנה: {{value.id}}
        </div>
        <div class="col col-xs-12">
          <span class="glyphicon glyphicon-menu-left mooverLarge" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col col-xs-6">
        <div class="row">
          <div class="col col-xs-12 address">{{value|mooverAddress:'from'}}</div>
          <div class="col col-xs-12 datetime spaceAfter">{{value.fromdatetime|momentdate}}</div>
          <div class="col col-xs-12 address">{{value|mooverAddress:'to'}}</div>
          <div class="col col-xs-12 datetime">{{value.todatetime|momentdate}}</div>
        </div>
      </div>
      <div class="col col-xs-offset-1 col-xs-2">
        <img src="/images/AtoB.svg" alt="" class="atob" />
      </div>
    </div>
  </div>
</div>